.cart-no
{
    position: absolute;
    min-height: 22px;
    min-width: 20px;
    border-radius: 50%;
    font-size: 1em;
    background-color: #ff8800;
    color: white;
    text-align: center;
    top: -18px;
    right: -10px;
    font-size: 20px;
}

a{
    color: #343a40;
    text-decoration: none;

    &.active{
        color: #ff8800;
        text-decoration: none;
    }
}